/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Altura completa de la ventana */
    background-color: #f2f2f2; /* Fondo claro */
    padding: 20px;
}

/* Barra de busqueda */
.container input[type="text"] {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

/* Botón de búsqueda */
.container button {
    background-color: #ffcb05;
    border: none;
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-top: 5%;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #ffbe0b; /
}

.table-container {
    width: 100%;
    /* max-width: 800px; Ancho máximo de la tabla */
    background-color: #fff; /* Fondo blanco */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra */
    border-radius: 10px;
    overflow: hidden;
}

.table-bordered {
    border-collapse: collapse;
    width: 100%; /* Ancho completo de la tabla */
    border-radius: 10px;
}

.table-bordered th,
.table-bordered td {
    border: 1px solid #ddd;
    padding: 12px; 
    text-align: center; 
    font-size: 16px;
    font-family: 'Arial', sans-serif;
}

.table-bordered th {
    background-color: #ef5350; 
    color: white;
}

.table-bordered tr:nth-child(even) {
    background-color: #f9f9f9;
}

.table-bordered tr:hover {
    background-color: #f1f1f1; 
}

.table-bordered img {
    height: 65px; /* Altura imagenes */
    width: auto; 
    cursor: pointer; 
}

/* Estilos del modal */
.habilidades {
    background-color: #fff;
    width: 300px;
    padding: 20px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    z-index: 1000;
    text-align: center;
}

.habilidades h2 {
    margin: 10px 0;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    color: #ef5350;
}

.imgModal {
    display: block; 
    margin: 0 auto; 
    max-width: 100%; 
    width: 75%;
    border: 2px solid #ef5350; 
    border-radius: 10%;
}

.habilidades h4 {
    font-weight: normal; 
    margin: 10px 0; 
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.habilidades h3 {
    font-weight: bold; 
    margin: 10px 0; 
    font-size: 18px;
    font-family: 'Arial', sans-serif;
}

.habilidades button {
    background-color: #ef5350; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.habilidades button:hover {
    background-color: #d32f2f; /* Rojo más oscuro */
}

.titulo-tablaPaises {
    font-size: 40px;
    font-weight: bold;
}

.modal-actualizar {
    background-color: #f87b78;
    width: 80%;
    height: 90vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.modal-actualizar input,
.modal-actualizar select {
    margin-bottom: 10px;
    width: 80%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.modal-actualizar label {
    margin-top: 10px;
}

.modal-actualizar .button-acciones {
    margin-top: 10px;
}

.modal-actualizar h3 {
    font-size: 40px;
}

.modal-actualizar button {
    margin-top: 10px;
}

.button-acciones {
    display: flex;
    gap: 50px;
    justify-content: space-between;
}